NEON_DATABASE_URL="postgresql://neondb_owner:npg_P1FbcDHMtm3Z@ep-divine-rain-apwfhg6h-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
R2_ACCOUNT_ID="ae68505236a06a5682504ac0c1d3981b"
R2_ACCESS_KEY="86597f268430561ecfa449ee7a9bd9ff"
R2_SECRET_KEY="403cd45bb49ed3848122f0c7d9e328e52d2902772e0a2ae0a6f74f7331b5d7d3"
R2_BUCKET_NAME="appshare"
R2_PUBLIC_BASE_URL="https://pub-aadd043a6bea43059c258076cef7cf0b.r2.dev"
AUTH_SECRET="ydasiydaiud87648738763aiduaiudaidaiudaiudauidaiudadaiudauidaauhda"
MAX_UPLOAD_MB="250"
